/*-----------------------------------------------------------



	Theme Name: Tetris

	Version: 1.1

	Description: Premium WordPress theme by WPExplorer

	Author: WPExplorer

	Author URI: http://themeforest.net/user/WPExplorer/?ref=wpexplorer

	Designed & Developed by WPExplorer

	Theme URI: http://themeforest.net/user/WPExplorer/portfolio

	License: GNU General Public License version 3.0

	License URI: http://www.gnu.org/licenses/gpl-3.0.html

	Tags: light, flexible-width, custom-background, threaded-comments, custom-menu, featured-images, full-width-template, theme-options, translation-ready



/* Main CSS -  Minified to speed things up.

/* If you want to make edits use a child theme

/* You should always use a child theme anyway ;)

================================================== */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

body {
    line-height: 1;
}

ol,ul {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: #ecf0f1 !important;
    nowhitespace: afterproperty;
    font: 14px/1.8 'Open Sans',Helvetica,Arial,sans-serif;
    color: #666;
    -webkit-text-size-adjust: 100%;
}

body a {
    color: #e73420;
}

body a:hover {
    text-decoration: underline;
    color: #e73420;
}

img {
    max-width: 100%;
    height: auto;
}

#wrap {
    width: 960px;
    margin: 0 auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#main-content {
    margin: 30px 0;
}

/*.container {
    background: #fff;
    padding: 30px;
}*/

#post {
    float: left;
    width: 590px;
}

#sidebar {
    float: right;
    width: 250px;
    font-size: 0.929em;
}

.remove-margin {
    margin-right: 0 !important;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

blockquote {
    position: relative;
    margin: 30px 20px;
    padding-left: 25px;
    font-style: italic;
    font-weight: bold;
    color: #000;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #000;
    content: open-quote;
    font-size: 3em;
    line-height: .1em;
    position: absolute;
    top: 20px;
    left: -10px;
}

blockquote p:last-child {
    margin: 0;
}

pre {
    background: #fff url("images/pre-bg.png") repeat;
    margin: 40px 0px;
    padding: 25px 20px;
    line-height: 25px;
    border: 1px solid #ddd;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

address {
    letter-spacing: 1px;
    margin: 20px 0;
}

#page-featured-img {
    position: relative;
    margin-bottom: 25px;
}

#page-featured-img img {
    display: block;
    width: 100%;
}

.sticky {
    :;
}

.gallery-caption {
    :;
}

.entry ul {
    margin: 30px 0 30px 20px;
}

.entry ol {
    margin: 30px 0 30px 25px;
}

.entry ul {
    list-style: disc;
}

.entry ol {
    list-style: decimal;
}

.entry ul li,.entry ol li {
    margin: 0 0 5px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    font-family: 'Open Sans',Helvetica,Arial,Helvetica,sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    color: #000;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
    color: #000;
}

h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover {
    color: #e73420;
    text-decoration: none;
}

.entry h2,.entry h3,.entry h4,.entry h5,.entry h6 {
    margin: 40px 0 20px;
}

h1 {
    font-size: 1.714em;
    margin: 0 0 20px;
}

h2 {
    font-size: 1.286em;
}

h3 {
    font-size: 1.286em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.857em;
}

h6 {
    font-size: 0.714em;
}

#post,.entry {
    font-size: 1em;
}

p {
    margin: 0 0 20px;
}

.entry p:last-child {
    margin: 0;
}

p img {
    margin: 0;
}

p.lead {
    font-size: 1.500em;
    line-height: 27px;
    color: #777;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

small {
    font-size: 80%;
}

hr {
    border: solid rgba(0,0,0,0.2);
    border-width: 1px 0 0;
    clear: both;
    margin: 10px 0 30px;
    height: 0;
}

p a,p a:visited {
    line-height: inherit;
}

a:link {
    text-decoration: none;
}

a:focus {
    outline: 0;
}

a {
    outline: 0;
}

p a,p a:visited {
    line-height: inherit;
}

a:link {
    text-decoration: none;
}

a:focus {
    outline: 0;
}

#page-heading {
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
    font-weight: 300;
    text-align: center;
}

#page-heading h1,#page-heading h2 {
    margin: 0;
    font-size: 2.000em;
    line-height: 1.2em;
    font-weight: 300;
}

#pre-header {
	margin: 0;
	padding: 20px 0 21px;
}

#header-social {
  float: right;
  margin: 24px 0;
}

#header-social li {
    float: left;
    display: block;
    margin-left: 5px;
    margin-bottom:0px;
}

#header-social a,#header-social img {
    display: block;
}

#header-social img:hover {
    opacity: 0.6;
}

#header {
    position: relative;
    background:#003c77 url(images/navbar_bg.jpg) repeat-x 0 0;
    margin-bottom: 30px;
	border-bottom:1px solid #fff;
}

#logo h1 a,#logo h2 a {
    display: block;
    float: left;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: #fff;
    padding: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#logo img {
    display: block;
    max-width: 100%;
}

#logo h1,#logo h2 {
    font-size: 2.286em;
    line-height: 1em;
    margin: 0;
}

#top-bar .selector,#navigation .selector {
    display: none;
}

.sf-menu,.sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sf-menu {
    line-height: 1.0;
}

.sf-menu ul {
    position: absolute;
    top: -999em;
    width: 180px;
}

.sf-menu ul li {
    width: 100%;
}

.sf-menu li:hover {
    visibility: inherit;
}

.sf-menu li {
    float: left;
    position: relative;
}

.sf-menu a {
    display: block;
    position: relative;
}

.sf-menu li:hover ul,.sf-menu li.sfHover ul {
    left: 0px;
    top: 30px;
    z-index: 99;
}

ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul {
    top: -999em;
}

ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul {
    left: 180px;
    top: 1px;
}

/*#navigation {
    position: absolute;
    height: 50px;
    top: 50%;
    right: 15px;
    margin-top: -16px;
}*/

#navigation .sf-menu > li:hover > ul,.sf-menu li.sfHover > ul {
    top: 32px;
}

#navigation ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul,ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul {
    left: 200px;
    top: 0;
}

#navigation .sf-menu a {
    font-size:15px;
    color: #fff;
    padding:18px 20px;
    text-decoration: none;
}

/*#navigation .sf-menu > li > a {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}*/

#navigation .sf-menu li {
    float: left;
    position: relative;
	background:url(images/navbar_sep.jpg) no-repeat right center;
}

#navigation .sf-menu > li > a:hover {
    color: #fff;
	background: #3a8b25 url(images/navbar_bg_active.jpg) repeat-x 0 bottom;
}

#navigation .sf-menu > .current-menu-item > a {
    background: #3a8b25 url(images/navbar_bg_active.jpg) repeat-x 0 bottom;
    color: #fff;
}

#navigation .sf-menu > li.sfHover > a,#navigation .current-menu-parent > a,#navigation .current-menu-parent > a:hover,#navigation .sf-menu > .current-menu-item > a:hover {
    color: #fff;
}

#navigation .sf-menu ul {
    position: absolute;
    nowhitespace: afterproperty;
    top: -999em;
    width: 200px;
    z-index: 9999;
    left: 0;
    padding-top: 10px;
    border-radius: 2px;
}

#navigation .sf-menu ul > li:first-child {
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

#navigation .sf-menu ul > li:last-child {
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

#navigation .sf-menu ul li {
    background: #e73420;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

#navigation .sf-menu ul li:first-child {
    border-top: 0;
}

#navigation .sf-menu ul li:last-child {
    border-bottom: 0;
}

#navigation .sf-menu ul a {
    display: block;
    padding: 6px 12px;
    color: #fff;
    height: auto;
    margin: 0px;
    border: 0px;
    font-size: 0.929em;
    font-weight: normal;
    text-shadow: none;
}

#navigation .sf-menu ul li > a:hover {
    background-color: #bf2615;
}

#home-slider {
    margin-bottom: 30px;
}

#homepage-title {
    padding:24px 0;
    background:none;
    text-align: center;
    font-size:18px;
	color:#b2b2b2;
	font-style:italic;
	font-weight:normal;
	width:68%;
	display:inline-block;
}

.flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus {
    outline: none;
}

.slides,.flex-control-nav,.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flexslider {
    margin: 0;
    padding: 0;
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}

.flexslider .slides img {
    width: 100%;
    display: block;
}

.flex-pauseplay span {
    text-transform: capitalize;
}

.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

.no-js .slides > li:first-child {
    display: block;
}

.flexslider-container {
    position: relative;
}

.flexslider {
    zoom: 1;
    position: relative;
}

.flexslider ul {
    margin: 0;
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#single-post-slider .flex-direction-nav li a.flex-next,#single-post-slider .flex-direction-nav li a.flex-prev {
    position: absolute;
    display: block;
    width: 40px;
    height: 60px;
    line-height: 60px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    background: #000;
    color: #fff !important;
    opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
    background-position: center center;
    background-repeat: no-repeat;
}

#single-post-slider .flex-direction-nav li a.flex-next {
    background-image: url("images/arrow-right.png");
    right: 0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#single-post-slider .flex-direction-nav li a.flex-prev {
    left: 0;
    background-image: url("images/arrow-left.png");
    right: 0;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#single-post-slider .flex-direction-nav li a:hover {
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    color: #fff;
    text-decoration: none;
}

.blog-isotope {
    margin-right: -30px;
    margin-bottom: -30px;
}

.blog-entry {
    overflow: hidden;
    background: #fff;
    float: left;
    width: 300px;
    margin-bottom: 30px;
    margin-right: 30px;
    font-size: 1em;
}
.blog-entry:hover{ background:#ddd;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.blog-entry .entry-text {
    padding: 20px;
    font-size: 13px;
}

.blog-entry p {
    font-size: 1em;
}

.blog-entry p:last-child {
    margin: 0;
}

.blog-entry h2 {
    margin: 0 0 10px;
    font-size: 1.143em;
}

.blog-entry img {
    box-shadow: #000 0em 0em 0em;
}

.blog-entry img:hover {
    opacity: 0.9;
}

.blog-entry .entry-meta {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #eee;
    font-size: 0.857em;
}

.blog-entry .entry-meta strong {
    font-weight: 600;
    color: #000;
    margin-right: 2px;
}

.blog-entry.format-quote {
    display: block;
    background: #000 url("images/vintage.png");
    color: #fff;
    font-size: 2.000em;
    font-weight: 300;
}

.blog-entry.format-quote .quote-content {
    position: relative;
    display: block;
    color: #fff;
}

.quote-author {
    margin-top: 20px;
    color: #aaa;
    font-style: italic;
}

.blog-entry-thumbnail img,.blog-entry-video {
    display: block;
    width: 100%;
}

.blog-entry-thumbnail a,.blog-entry-thumbnail img {
    display: block;
}

#post-header h1 {
    margin: 0;
    font-size: 2.000em;
    line-height: 1.2em;
}

.single-post .meta {
    font-weight: 300;
    font-size: 0.929em;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.single-post .meta a {
    color: #999;
}

.single-post .meta a:hover {
    color: #000;
}

.single-post .meta li {
    display: inline;
    margin-right: 5px;
    margin-right: 10px;
}

.single-post .meta strong {
    font-weight: 600;
    color: #111;
}

.single-post .meta li:last-child {
    margin-right: 0;
    padding-right: 0;
    background: none;
}

#single-post-slider {
    margin: 0 0 30px;
}

#post-thumbnail,#post-video {
    margin: 0 0 30px;
    text-align: center;
}

#post-thumbnail img {
    display: block;
    width: 100%;
}

#single-post-audio-wrap {
    margin: 0 0 30px;
}

#single-post-audio-wrap img {
    display: block;
    width: 100%;
}

.single-post .format-quote {
    display: block;
    background: #000 url("images/vintage.png");
    color: #fff;
    font-size: 1.286em;
    font-weight: 300;
    margin: -30px -30px 30px;
    padding: 40px;
}

.single-post .format-quote .inner-post {
    position: relative;
    display: block;
    color: #fff;
}

#post-tags {
    margin-top: 30px;
}

#post-tags a {
    background: #e73420;
    display: block;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
    color: #fff;
    font-size: 0.929em;
    padding: 2px 12px;
}

#post-tags a:hover {
    background: #111;
    color: #fff;
    text-decoration: none;
}

#single-author {
    margin-top: 30px;
}

#single-author h4 {
    font-size: 1.143em;
    background: url("images/heading-bg.png") center repeat-x;
    margin-bottom: 20px;
}

#single-author h4 span {
    background: #fff;
    padding-right: 15px;
}

#author-image {
    float: left;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 5px solid #eee;
}

#author-image img {
    display: block;
}

#author-bio {
    float: right;
    width: 510px;
}

#author-bio p:last-child {
    margin: 0;
}

.page-pagination {
    margin: 20px 0 -5px;
    overflow: hidden;
}

.page-of-page span.inner {
    padding: 0 10px;
}

.page-of-page,.page-pagination a,.page-pagination span.outer {
    font-size: 0.857em;
    font-weight: normal;
    line-height: 25px;
    height: 25px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    display: block;
    float: left;
    color: #000;
    background: #fff;
    -moz-box-sizing: border-box;
    border-radius: 2px;
}

.page-pagination a,.page-pagination span.outer {
    width: 25px;
}

.page-pagination a:hover,.page-pagination span.current {
    color: #fff;
    background: #e73420;
    text-decoration: none;
}

.sidebar-bg {
    background: #fff;
    padding: 30px;
}

#sidebar h4 {
    font-weight: bold;
    background: url("images/heading-bg.png") center repeat-x;
    margin-bottom: 20px;
}

#sidebar h4 span {
    background: #f9f9f9;
    padding-right: 15px;
}

.sidebar-box {
    margin-bottom: 30px;
}

.sidebar-box .heading {
    margin-top: 0;
}

#sidebar a {
    color: #666;
}

#sidebar a:hover {
    color: #e73420;
    text-decoration: none;
}

.wpex-widget-social {
    margin-right: -4px;
}

.wpex-widget-social li {
    float: left;
    margin-right: 4px;
    margin-bottom: 4px;
}

.wpex-widget-social img {
    opacity: 0.7;
}

.wpex-widget-social img:hover {
    opacity: 1;
}

.tagcloud a {
    float: left;
    display: block;
    font-size: 0.929em !important;
    line-height: 0.929em !important;
    margin-bottom: 7px;
    margin-right: 7px;
    padding: 7px 15px;
    display: block;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
}

#sidebar .tagcloud a,#footer .tagcloud a {
    background: #e73420;
    color: #fff;
}

#sidebar .tagcloud a:hover,#footer .tagcloud a:hover {
    background: #111;
    color: #fff;
}

#footer .widget_nav_menu li,#footer .widget_recent_entries li,#footer .widget_categories li,#footer .widget_archive a,#footer .widget_meta li,#footer .wpex-taxonomies-widget li,#footer #footer .wpex-recent-post-types-widget li,#footer .widget_pages li,#footer .widget_links li {
    margin-bottom:0px;
    padding-bottom:0px;
    border-bottom:none;
}

#wp-calendar {
    font-size: 0.786em;
}

#wp-calendar caption {
    background: #292b2f;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

#wp-calendar,#footer #wp-calendar tr {
    width: 100%;
}

#wp-calendar th {
    text-align: center;
    border: 1px solid #ddd;
    border-top: none;
    padding: 5px 0;
    background: #f5f5f5;
}

#wp-calendar tbody td {
    padding: 4px 0;
    text-align: center;
    border: 1px solid #eee;
}

#wp-calendar tbody td:hover {
    background: #f5f5f5;
    color: #000;
}

#wp-calendar tbody a {
    display: block;
}

#footer caption {
    background: #111214;
}

#footer #wp-calendar th,#footer #wp-calendar tbody td {
    border-color: #212326;
}

#footer #wp-calendar th {
    background: #212326;
}

#footer #wp-calendar td:hover {
    background: #292b2f;
    color: #fff;
}

#footer #wp-calendar caption {
    color: #fff;
}

#wp-calendar tbody td {
    padding: 4px 0;
    text-align: center;
    border: 1px solid #eee;
}

#wp-calendar tbody td:hover {
    background: #fff;
    color: #000;
}

#wp-calendar tfoot td {
    padding-top: 5px;
}

#footer {
    background:#004080 url(images/footer_top_bg.jpg) repeat-x 0 top;
    padding:25px 0;
    font-size:15px;
    position: relative;
	color:#b5cadf;
	-webkit-box-shadow: 0px 8px 0px 0px rgba(65, 148, 56, 1);
	-moz-box-shadow:    0px 8px 0px 0px rgba(65, 148, 56, 1);
	box-shadow:         0px 8px 0px 0px rgba(65, 148, 56, 1);
	border-bottom:1px solid #fff;
	margin-bottom:8px;
}

#footer a {
    color: #b5cadf;
}

#footer a:hover {
    color: #e73420;
    text-decoration: none;
}

.footer-box {
    float: left;
    width: 260px;
    margin-right: 50px;
	line-height:22px;
}

.footer-box.remove-margin {
    margin-right: 0;
}

.footer-widget {
    margin-bottom:0px;
}

#footer ul {
    margin: 0;
}

.footer-widget h4 {
    color: #fff;
    font-size:17px;
    border-bottom:none;
    padding-bottom:0;
    margin-bottom:5px;
}

#copyright {
    margin: 15px 0;
    text-align: center;
    font-size: 0.786em;
}

input[type="search"] {
    background: url("./images/search.png") no-repeat scroll 96% center #fff;
    border: 1px solid #ddd;
    color: #666;
    font-family: 'Helvetica Neue',Helvetica,Arial;
    font-size: 0.857em;
    color: #9da1a9;
    padding: 10px 16px 10px 7px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    outline: none;
}

#footer input[type="search"] {
    background-image: url("./images/search-light.png");
}

input[type="search"]::-webkit-search-decoration {
    display: none;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

#footer input[type="search"] {
    background-color: #222;
    border-color: #222;
    color: #666;
}

#footer input[type="search"]:focus {
    color: #aaa;
}

#footer input[type="search"] {
    box-shadow: none;
}

.search-entry {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eee;
}

.search-entry h2 {
    margin: -8px 0 5px;
    font-size: 1.143em;
}

.search-entry-image {
    float: left;
}

.search-entry-image a {
    display: inline-block;
    border: 5px solid #eee;
}

.search-entry-image a:hover {
    border-color: #e73420;
}

.search-entry-image img {
    display: block;
}

.search-entry-text {
    float: right;
    width: 450px;
}

.search-entry-text p:last-child {
    margin: 0;
}

input[type="text"],input[type="password"] {
    height: 30px;
    line-height: 30px;
}

input[type="text"],input[type="password"],textarea {
    font-family: 'Open Sans','Helvetica Neue',Arial,Helvetica,sans-serif;
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    display: block;
    font-size: 0.857em;
    margin-left: 0;
    padding: 0 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    -webkit-appearance: none;
}

textarea {
    width: 100%;
    padding: 10px;
}

input[type="text"],input[type="password"] {
    width: 200px;
}

input[type="text"]:focus,input[type="password"]:focus,textarea:focus {
    outline: none;
    border-color: #ccc;
    -moz-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.07);
    -webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.07);
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.07);
}

.entry .wpcf7-form {
    margin-top: 40px;
}

.wpcf7-form p {
    font-size: 0.786em;
    color: #999;
    text-transform: uppercase;
}

.entry button,.entry input[type="button"],.entry input[type="submit"],#commentsbox input[type="submit"] {
    position: relative;
    display: block;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    outline: none;
    border: none;
    background: #e73420;
    color: #fff;
    font-weight: 400;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 0.857em;
    cursor: pointer;
    -webkit-appearance: none !important;
}

.entry button:hover,.entry input[type="button"]:hover,.entry input[type="submit"]:hover,#commentsbox input[type="submit"]:hover {
    background: #111;
    color: #fff;
}

.entry button:active,.entry input[type="button"]:active,.entry input[type="submit"]:active,#commentsbox input[type="submit"]:active {
    top: 1px;
}

#commentsbox {
    margin-top: 40px;
}

h3.comments-title {
    font-size: 1.143em;
    background: url("images/heading-bg.png") center repeat-x;
    margin-bottom: 20px;
}

h3.comments-title span {
    background: #fff;
    padding-right: 15px;
}

.comment-details ul {
    margin: 0;
}

.comment-details ul li {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 8px;
    padding-top: 8px;
}

.comment-details ul li:first-child {
    border-top: 1px solid rgba(0,0,0,0.1);
}

.commentlist {
    margin: 0;
}

.commentlist li {
    list-style: none;
    margin: 0;
}

.children li.depth-2 {
    margin: 0 0 0px 65px;
}

.children li.depth-3 {
    margin: 0 0 0px 65px;
}

.children li.depth-4 {
    margin: 0 0 0px 65px;
}

.children li.depth-5 {
    margin: 0 0 0px 65px;
}

.children li.depth-6 {
    margin: 0 0 0px 65px;
}

.children li.depth-7 {
    margin: 0 0 0px 65px;
}

.children li.depth-8 {
    margin: 0 0 0px 65px;
}

.children li.depth-9 {
    margin: 0 0 0px 65px;
}

.children li.depth-10 {
    margin: 0 0 0px 65px;
}

.comment-body {
    margin-bottom: 25px;
}

.comment-details {
    position: relative;
    margin-left: 90px;
    background: #f9f9f9;
    padding: 20px;
    font-size: 0.929em;
}

.comment-details:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: -20px;
    background: url("images/comment-triangle.png") no-repeat;
}

.comment-avatar {
    position: absolute;
    left: -90px;
    top: 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 5px solid #f9f9f9;
}

.comment-avatar img {
    display: block;
}

.comment-author {
    color: #111;
}

.comment-author,.comment-author .author a:link,.comment-author .author a:visited {
    font-weight: 600;
}

.comment-content {
    margin-top: 5px;
}

.comment-content p:last-child {
    margin: 0;
}

.comment-date {
    font-size: 0.786em;
    font-weight: normal;
}

.comment-date a {
    color: #888;
}

.comment-reply-link {
    font-size: 0.786em;
    color: #888;
}

.comment-reply-link:hover {
    text-decoration: none;
}

.comment-reply-link:before {
    content: "\b7\a0";
}

#respond {
    font-size: 1.143em;
}

#cancel-comment-reply-link {
    display: block;
    position: absolute;
    font-size: 0.786em;
    font-weight: 600;
    margin: 0 0 10px;
    color: #C30;
}

.comment-reply-link:hover,#cancel-comment-reply-link:hover {
    color: #000;
}

.commentlist .children {
    margin: 0;
}

#comments-title {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    background: #fbfbfb;
    text-align: center;
    color: #222;
}

#comments_wrap {
    margin-top: 15px;
}

#comments-logged-in {
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 0.929em;
}

#log-out {
    float: right;
    margin-top: -56px;
}

.form-submit {
    margin-bottom: 0;
    height: 55px;
}

h3#reply-title {
    font-size: 1em;
    background: url("images/heading-bg.png") center repeat-x;
    margin-bottom: 20px;
}

h3#reply-title span {
    background: #fff;
    padding-right: 15px;
}

.children #commentform textarea {
    width: 95.6%;
}

#commentform input {
    float: left;
    margin-right: 10px;
}

#commentform label {
    font-family: 'Open Sans','Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 0.929em;
    font-weight: normal;
}

#commentsbox span.required {
    color: #C30;
    font-size: 0.643em;
}

#commentform input {
    margin-top: 0 !important;
}

#commentform input#author,#commentform input#email,#commentform input#url {
    font-size: 0.929em;
    width: 40%;
    margin-top: 10px;
}

#commentform textarea {
    font-size: 0.929em;
    width: 100%;
    margin-top: 10px;
}

#error-page-title {
    font-size: 5.714em;
    text-align: center;
    font-weight: bold;
    background: none;
    line-height: 1em;
    border: none;
    margin: 0 0 10px;
    color: #000;
}

#error-page-title span {
    margin-right: 7px;
}

#error-page-text {
    text-align: center;
    font-size: 1.143em;
}

.isotope,.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height,width;
    -moz-transition-property: height,width;
    -ms-transition-property: height,width;
    -o-transition-property: height,width;
    transition-property: height,width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform,opacity;
    -moz-transition-property: -moz-transform,opacity;
    -ms-transition-property: -ms-transform,opacity;
    -o-transition-property: top,left,opacity;
    transition-property: transform,opacity;
}

.isotope.no-transition,.isotope.no-transition .isotope-item,.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

.aligncenter {
    display: block;
    margin: 0 auto;
}

.alignright {
    float: right;
    margin: 0 0 10px 20px;
}

.alignleft {
    float: left;
    margin: 0 20px 10px 0;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.textcenter {
    text-align: center;
}

.textright {
    text-align: right;
}

.textleft {
    text-align: left;
}

.wp-caption {
    max-width: 100% !important;
}

.wp-caption {
    border: 1px solid #ddd;
    text-align: center;
    background-color: #f3f3f3;
    padding-top: 4px;
    margin: 10px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.wp-caption img {
    margin: 0;
    padding: 0;
    border: 0 none;
    max-width: 100%;
}

.wp-caption p.wp-caption-text {
    font-size: 0.786em;
    line-height: 17px;
    padding: 0 4px 5px;
    margin: 0;
}

.wp-smiley {
    margin: 0 !important;
    max-height: 1em;
}

blockquote.left {
    margin-right: 20px;
    text-align: right;
    margin-left: 0;
    width: 33%;
    float: left;
}

blockquote.right {
    margin-left: 20px;
    text-align: left;
    margin-right: 0;
    width: 33%;
    float: right;
}

#img-attch-page {
    text-align: center;
    overflow: hidden;
}

#img-attch-page img {
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 20px;
}

.gallery-item img {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.bypostauthor {
}

/* PrettyPhoto

================================================== */

div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right {
    height: 13px;
}

div.pp_default .pp_top .pp_left {
    background: url(images/prettyPhoto/default/sprite.png) -78px -93px no-repeat;
}

div.pp_default .pp_top .pp_middle {
    background: url(images/prettyPhoto/default/sprite_x.png) top left repeat-x;
}

div.pp_default .pp_top .pp_right {
    background: url(images/prettyPhoto/default/sprite.png) -112px -93px no-repeat;
}

div.pp_default .pp_content .ppt {
    color: #f8f8f8;
}

div.pp_default .pp_content_container .pp_left {
    background: url(images/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;
    padding-left: 13px;
}

div.pp_default .pp_content_container .pp_right {
    background: url(images/prettyPhoto/default/sprite_y.png) top right repeat-y;
    padding-right: 13px;
}

div.pp_default .pp_next:hover {
    background: url(images/prettyPhoto/default/sprite_next.png) center right no-repeat;
    cursor: pointer;
}

div.pp_default .pp_previous:hover {
    background: url(images/prettyPhoto/default/sprite_prev.png) center left no-repeat;
    cursor: pointer;
}

div.pp_default .pp_expand {
    background: url(images/prettyPhoto/default/sprite.png) 0 -29px no-repeat;
    cursor: pointer;
    height: 28px;
    width: 28px;
}

div.pp_default .pp_expand:hover {
    background: url(images/prettyPhoto/default/sprite.png) 0 -56px no-repeat;
    cursor: pointer;
}

div.pp_default .pp_contract {
    background: url(images/prettyPhoto/default/sprite.png) 0 -84px no-repeat;
    cursor: pointer;
    height: 28px;
    width: 28px;
}

div.pp_default .pp_contract:hover {
    background: url(images/prettyPhoto/default/sprite.png) 0 -113px no-repeat;
    cursor: pointer;
}

div.pp_default .pp_close {
    background: url(images/prettyPhoto/default/sprite.png) 2px 1px no-repeat;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

div.pp_default .pp_gallery ul li a {
    background: url(images/prettyPhoto/default/default_thumb.png) center center #f8f8f8;
    border: 1px solid #aaa;
}

div.pp_default .pp_social {
    margin-top: 7px;
}

div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next {
    left: auto;
    position: static;
}

div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause {
    background: url(images/prettyPhoto/default/sprite.png) -51px 1px no-repeat;
    height: 30px;
    width: 30px;
}

div.pp_default .pp_nav .pp_pause {
    background-position: -51px -29px;
}

div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next {
    background: url(images/prettyPhoto/default/sprite.png) -31px -3px no-repeat;
    height: 20px;
    margin: 4px 0 0;
    width: 20px;
}

div.pp_default a.pp_arrow_next {
    background-position: -82px -3px;
    left: 52px;
}

div.pp_default .pp_content_container .pp_details {
    margin-top: 5px;
}

div.pp_default .pp_nav {
    clear: none;
    height: 30px;
    position: relative;
    width: 110px;
}

div.pp_default .pp_nav .currentTextHolder {
    color: #999;
    font-family: Georgia;
    font-size: 11px;
    font-style: italic;
    left: 75px;
    line-height: 25px;
    margin: 0;
    padding: 0 0 0 10px;
    position: absolute;
    top: 2px;
}

div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover {
    opacity: 0.7;
}

div.pp_default .pp_description {
    font-size: 11px;
    font-weight: 700;
    line-height: 14px;
    margin: 10px 50px 5px 0;
}

div.pp_default .pp_bottom .pp_left {
    background: url(images/prettyPhoto/default/sprite.png) -78px -127px no-repeat;
}

div.pp_default .pp_bottom .pp_middle {
    background: url(images/prettyPhoto/default/sprite_x.png) bottom left repeat-x;
}

div.pp_default .pp_bottom .pp_right {
    background: url(images/prettyPhoto/default/sprite.png) -112px -127px no-repeat;
}

div.pp_default .pp_loaderIcon {
    background: url(images/prettyPhoto/default/loader.gif) center center no-repeat;
}

div.light_rounded .pp_top .pp_left {
    background: url(images/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat;
}

div.light_rounded .pp_top .pp_right {
    background: url(images/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat;
}

div.light_rounded .pp_next:hover {
    background: url(images/prettyPhoto/light_rounded/btnNext.png) center right no-repeat;
    cursor: pointer;
}

div.light_rounded .pp_previous:hover {
    background: url(images/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat;
    cursor: pointer;
}

div.light_rounded .pp_expand {
    background: url(images/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat;
    cursor: pointer;
}

div.light_rounded .pp_expand:hover {
    background: url(images/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat;
    cursor: pointer;
}

div.light_rounded .pp_contract {
    background: url(images/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;
    cursor: pointer;
}

div.light_rounded .pp_contract:hover {
    background: url(images/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;
    cursor: pointer;
}

div.light_rounded .pp_close {
    background: url(images/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;
    cursor: pointer;
    height: 22px;
    width: 75px;
}

div.light_rounded .pp_nav .pp_play {
    background: url(images/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat;
    height: 15px;
    width: 14px;
}

div.light_rounded .pp_nav .pp_pause {
    background: url(images/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat;
    height: 15px;
    width: 14px;
}

div.light_rounded .pp_arrow_previous {
    background: url(images/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat;
}

div.light_rounded .pp_arrow_next {
    background: url(images/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat;
}

div.light_rounded .pp_bottom .pp_left {
    background: url(images/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat;
}

div.light_rounded .pp_bottom .pp_right {
    background: url(images/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat;
}

div.dark_rounded .pp_top .pp_left {
    background: url(images/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat;
}

div.dark_rounded .pp_top .pp_right {
    background: url(images/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat;
}

div.dark_rounded .pp_content_container .pp_left {
    background: url(images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y;
}

div.dark_rounded .pp_content_container .pp_right {
    background: url(images/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y;
}

div.dark_rounded .pp_next:hover {
    background: url(images/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat;
    cursor: pointer;
}

div.dark_rounded .pp_previous:hover {
    background: url(images/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat;
    cursor: pointer;
}

div.dark_rounded .pp_expand {
    background: url(images/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat;
    cursor: pointer;
}

div.dark_rounded .pp_expand:hover {
    background: url(images/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat;
    cursor: pointer;
}

div.dark_rounded .pp_contract {
    background: url(images/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat;
    cursor: pointer;
}

div.dark_rounded .pp_contract:hover {
    background: url(images/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat;
    cursor: pointer;
}

div.dark_rounded .pp_close {
    background: url(images/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat;
    cursor: pointer;
    height: 22px;
    width: 75px;
}

div.dark_rounded .pp_description {
    color: #fff;
    margin-right: 85px;
}

div.dark_rounded .pp_nav .pp_play {
    background: url(images/prettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat;
    height: 15px;
    width: 14px;
}

div.dark_rounded .pp_nav .pp_pause {
    background: url(images/prettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat;
    height: 15px;
    width: 14px;
}

div.dark_rounded .pp_arrow_previous {
    background: url(images/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat;
}

div.dark_rounded .pp_arrow_next {
    background: url(images/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat;
}

div.dark_rounded .pp_bottom .pp_left {
    background: url(images/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat;
}

div.dark_rounded .pp_bottom .pp_right {
    background: url(images/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat;
}

div.dark_rounded .pp_loaderIcon {
    background: url(images/prettyPhoto/dark_rounded/loader.gif) center center no-repeat;
}

div.dark_square .pp_left,div.dark_square .pp_middle,div.dark_square .pp_right,div.dark_square .pp_content {
    background: #000;
}

div.dark_square .pp_description {
    color: #fff;
    margin: 0 85px 0 0;
}

div.dark_square .pp_loaderIcon {
    background: url(images/prettyPhoto/dark_square/loader.gif) center center no-repeat;
}

div.dark_square .pp_expand {
    background: url(images/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat;
    cursor: pointer;
}

div.dark_square .pp_expand:hover {
    background: url(images/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat;
    cursor: pointer;
}

div.dark_square .pp_contract {
    background: url(images/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat;
    cursor: pointer;
}

div.dark_square .pp_contract:hover {
    background: url(images/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat;
    cursor: pointer;
}

div.dark_square .pp_close {
    background: url(images/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat;
    cursor: pointer;
    height: 22px;
    width: 75px;
}

div.dark_square .pp_nav {
    clear: none;
}

div.dark_square .pp_nav .pp_play {
    background: url(images/prettyPhoto/dark_square/sprite.png) -1px -100px no-repeat;
    height: 15px;
    width: 14px;
}

div.dark_square .pp_nav .pp_pause {
    background: url(images/prettyPhoto/dark_square/sprite.png) -24px -100px no-repeat;
    height: 15px;
    width: 14px;
}

div.dark_square .pp_arrow_previous {
    background: url(images/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat;
}

div.dark_square .pp_arrow_next {
    background: url(images/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat;
}

div.dark_square .pp_next:hover {
    background: url(images/prettyPhoto/dark_square/btnNext.png) center right no-repeat;
    cursor: pointer;
}

div.dark_square .pp_previous:hover {
    background: url(images/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat;
    cursor: pointer;
}

div.light_square .pp_expand {
    background: url(images/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat;
    cursor: pointer;
}

div.light_square .pp_expand:hover {
    background: url(images/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat;
    cursor: pointer;
}

div.light_square .pp_contract {
    background: url(images/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat;
    cursor: pointer;
}

div.light_square .pp_contract:hover {
    background: url(images/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat;
    cursor: pointer;
}

div.light_square .pp_close {
    background: url(images/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat;
    cursor: pointer;
    height: 22px;
    width: 75px;
}

div.light_square .pp_nav .pp_play {
    background: url(images/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat;
    height: 15px;
    width: 14px;
}

div.light_square .pp_nav .pp_pause {
    background: url(images/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat;
    height: 15px;
    width: 14px;
}

div.light_square .pp_arrow_previous {
    background: url(images/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat;
}

div.light_square .pp_arrow_next {
    background: url(images/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat;
}

div.light_square .pp_next:hover {
    background: url(images/prettyPhoto/light_square/btnNext.png) center right no-repeat;
    cursor: pointer;
}

div.light_square .pp_previous:hover {
    background: url(images/prettyPhoto/light_square/btnPrevious.png) center left no-repeat;
    cursor: pointer;
}

div.facebook .pp_top .pp_left {
    background: url(images/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat;
}

div.facebook .pp_top .pp_middle {
    background: url(images/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x;
}

div.facebook .pp_top .pp_right {
    background: url(images/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat;
}

div.facebook .pp_content_container .pp_left {
    background: url(images/prettyPhoto/facebook/contentPatternLeft.png) top left repeat-y;
}

div.facebook .pp_content_container .pp_right {
    background: url(images/prettyPhoto/facebook/contentPatternRight.png) top right repeat-y;
}

div.facebook .pp_expand {
    background: url(images/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat;
    cursor: pointer;
}

div.facebook .pp_expand:hover {
    background: url(images/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat;
    cursor: pointer;
}

div.facebook .pp_contract {
    background: url(images/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat;
    cursor: pointer;
}

div.facebook .pp_contract:hover {
    background: url(images/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat;
    cursor: pointer;
}

div.facebook .pp_close {
    background: url(images/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat;
    cursor: pointer;
    height: 22px;
    width: 22px;
}

div.facebook .pp_description {
    margin: 0 37px 0 0;
}

div.facebook .pp_loaderIcon {
    background: url(images/prettyPhoto/facebook/loader.gif) center center no-repeat;
}

div.facebook .pp_arrow_previous {
    background: url(images/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat;
    height: 22px;
    margin-top: 0;
    width: 22px;
}

div.facebook .pp_arrow_previous.disabled {
    background-position: 0 -96px;
    cursor: default;
}

div.facebook .pp_arrow_next {
    background: url(images/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat;
    height: 22px;
    margin-top: 0;
    width: 22px;
}

div.facebook .pp_arrow_next.disabled {
    background-position: -32px -96px;
    cursor: default;
}

div.facebook .pp_nav {
    margin-top: 0;
}

div.facebook .pp_nav p {
    font-size: 15px;
    padding: 0 3px 0 4px;
}

div.facebook .pp_nav .pp_play {
    background: url(images/prettyPhoto/facebook/sprite.png) -1px -123px no-repeat;
    height: 22px;
    width: 22px;
}

div.facebook .pp_nav .pp_pause {
    background: url(images/prettyPhoto/facebook/sprite.png) -32px -123px no-repeat;
    height: 22px;
    width: 22px;
}

div.facebook .pp_next:hover {
    background: url(images/prettyPhoto/facebook/btnNext.png) center right no-repeat;
    cursor: pointer;
}

div.facebook .pp_previous:hover {
    background: url(images/prettyPhoto/facebook/btnPrevious.png) center left no-repeat;
    cursor: pointer;
}

div.facebook .pp_bottom .pp_left {
    background: url(images/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat;
}

div.facebook .pp_bottom .pp_middle {
    background: url(images/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x;
}

div.facebook .pp_bottom .pp_right {
    background: url(images/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat;
}

div.pp_pic_holder a:focus {
    outline: none;
}

div.pp_overlay {
    background: #000;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9500;
}

div.pp_pic_holder {
    display: none;
    position: absolute;
    width: 100px;
    z-index: 10000;
}

.pp_content {
    height: 40px;
    min-width: 40px;
}

* html .pp_content {
    width: 40px;
}

.pp_content_container {
    position: relative;
    text-align: left;
    width: 100%;
}

.pp_content_container .pp_left {
    padding-left: 20px;
}

.pp_content_container .pp_right {
    padding-right: 20px;
}

.pp_content_container .pp_details {
    float: left;
    margin: 10px 0 2px;
}

.pp_description {
    display: none;
    margin: 0;
}

.pp_social {
    float: left;
    margin: 0;
}

.pp_social .facebook {
    float: left;
    margin-left: 5px;
    overflow: hidden;
    width: 55px;
}

.pp_social .twitter {
    float: left;
}

.pp_nav {
    clear: right;
    float: left;
    margin: 3px 10px 0 0;
}

.pp_nav p {
    float: left;
    margin: 2px 4px;
    white-space: nowrap;
}

.pp_nav .pp_play,.pp_nav .pp_pause {
    float: left;
    margin-right: 4px;
    text-indent: -10000px;
}

a.pp_arrow_previous,a.pp_arrow_next {
    display: block;
    float: left;
    height: 15px;
    margin-top: 3px;
    overflow: hidden;
    text-indent: -10000px;
    width: 14px;
}

.pp_hoverContainer {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2000;
}

.pp_gallery {
    display: none;
    left: 50%;
    margin-top: -50px;
    position: absolute;
    z-index: 10000;
}

.pp_gallery div {
    float: left;
    overflow: hidden;
    position: relative;
}

.pp_gallery ul {
    float: left;
    height: 35px;
    margin: 0 0 0 5px;
    padding: 0;
    position: relative;
    white-space: nowrap;
}

.pp_gallery ul a {
    border: 1px rgba(0,0,0,0.5) solid;
    display: block;
    float: left;
    height: 33px;
    overflow: hidden;
}

.pp_gallery ul a img {
    border: 0;
}

.pp_gallery li {
    display: block;
    float: left;
    margin: 0 5px 0 0;
    padding: 0;
}

.pp_gallery li.default a {
    background: url(images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;
    display: block;
    height: 33px;
    width: 50px;
}

.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next {
    margin-top: 7px!important;
}

a.pp_next {
    background: url(images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;
    display: block;
    float: right;
    height: 100%;
    text-indent: -10000px;
    width: 49%;
}

a.pp_previous {
    background: url(images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;
    display: block;
    float: left;
    height: 100%;
    text-indent: -10000px;
    width: 49%;
}

a.pp_expand,a.pp_contract {
    cursor: pointer;
    display: none;
    height: 20px;
    position: absolute;
    right: 30px;
    text-indent: -10000px;
    top: 10px;
    width: 20px;
    z-index: 20000;
}

a.pp_close {
    display: block;
    line-height: 22px;
    position: absolute;
    right: 0;
    text-indent: -10000px;
    top: 0;
}

.pp_loaderIcon {
    display: block;
    height: 24px;
    left: 50%;
    margin: -12px 0 0 -12px;
    position: absolute;
    top: 50%;
    width: 24px;
}

#pp_full_res {
    line-height: 1!important;
}

#pp_full_res .pp_inline {
    text-align: left;
}

#pp_full_res .pp_inline p {
    margin: 0 0 15px;
}

div.ppt {
    color: #fff;
    display: none;
    font-size: 17px;
    margin: 0 0 5px 15px;
    z-index: 9999;
}

div.pp_default .pp_content,div.light_rounded .pp_content {
    background-color: #fff;
}

div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res .pp_inline {
    color: #000;
}

div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a {
    border-color: #fff;
}

div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook .pp_details {
    position: relative;
}

div.light_rounded .pp_top .pp_middle,div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right,div.light_rounded .pp_bottom .pp_middle,div.light_square .pp_left,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content,div.facebook .pp_content {
    background: #fff;
}

div.light_rounded .pp_description,div.light_square .pp_description {
    margin-right: 85px;
}

div.light_rounded .pp_gallery a.pp_arrow_previous,div.light_rounded .pp_gallery a.pp_arrow_next,div.dark_rounded .pp_gallery a.pp_arrow_previous,div.dark_rounded .pp_gallery a.pp_arrow_next,div.dark_square .pp_gallery a.pp_arrow_previous,div.dark_square .pp_gallery a.pp_arrow_next,div.light_square .pp_gallery a.pp_arrow_previous,div.light_square .pp_gallery a.pp_arrow_next {
    margin-top: 12px!important;
}

div.light_rounded .pp_arrow_previous.disabled,div.dark_rounded .pp_arrow_previous.disabled,div.dark_square .pp_arrow_previous.disabled,div.light_square .pp_arrow_previous.disabled {
    background-position: 0 -87px;
    cursor: default;
}

div.light_rounded .pp_arrow_next.disabled,div.dark_rounded .pp_arrow_next.disabled,div.dark_square .pp_arrow_next.disabled,div.light_square .pp_arrow_next.disabled {
    background-position: -22px -87px;
    cursor: default;
}

div.light_rounded .pp_loaderIcon,div.light_square .pp_loaderIcon {
    background: url(images/prettyPhoto/light_rounded/loader.gif) center center no-repeat;
}

div.dark_rounded .pp_top .pp_middle,div.dark_rounded .pp_content,div.dark_rounded .pp_bottom .pp_middle {
    background: url(images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat;
}

div.dark_rounded .currentTextHolder,div.dark_square .currentTextHolder {
    color: #c4c4c4;
}

div.dark_rounded #pp_full_res .pp_inline,div.dark_square #pp_full_res .pp_inline {
    color: #fff;
}

.pp_top,.pp_bottom {
    height: 20px;
    position: relative;
}

* html .pp_top,* html .pp_bottom {
    padding: 0 20px;
}

.pp_top .pp_left,.pp_bottom .pp_left {
    height: 20px;
    left: 0;
    position: absolute;
    width: 20px;
}

.pp_top .pp_middle,.pp_bottom .pp_middle {
    height: 20px;
    left: 20px;
    position: absolute;
    right: 20px;
}

* html .pp_top .pp_middle,* html .pp_bottom .pp_middle {
    left: 0;
    position: static;
}

.pp_top .pp_right,.pp_bottom .pp_right {
    height: 20px;
    left: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}

.pp_fade,.pp_gallery li.default a img {
    display: none;
}

div.pp_default .pp_gallery a.pp_arrow_next {
    left: auto;
    position: static;
}

div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause {
    background: url(images/prettyPhoto/default/sprite.png) -51px 1px no-repeat;
    height: 30px;
    width: 30px;
}

div.pp_default .pp_nav .pp_pause {
    background-position: -51px -29px;
}

div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next {
    background: url(images/prettyPhoto/default/sprite.png) -31px -3px no-repeat;
    height: 20px;
    margin: 4px 0 0;
    width: 20px;
}

div.pp_default a.pp_arrow_next {
    background-position: -82px -3px;
    left: 52px;
}

div.pp_default .pp_content_container .pp_details {
    margin-top: 5px;
}

div.pp_default .pp_nav {
    clear: none;
    height: 30px;
    position: relative;
    width: 110px;
}

div.pp_default .pp_nav .currentTextHolder {
    color: #999;
    font-family: Georgia;
    font-size: 11px;
    font-style: italic;
    left: 75px;
    line-height: 25px;
    margin: 0;
    padding: 0 0 0 10px;
    position: absolute;
    top: 2px;
}

div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover {
    opacity: 0.7;
}

div.pp_default .pp_description {
    font-size: 11px;
    font-weight: 700;
    line-height: 14px;
    margin: 10px 50px 5px 0;
}

div.pp_default .pp_bottom .pp_left {
    background: url(images/prettyPhoto/default/sprite.png) -78px -127px no-repeat;
}

div.pp_default .pp_bottom .pp_middle {
    background: url(images/prettyPhoto/default/sprite_x.png) bottom left repeat-x;
}

div.pp_default .pp_bottom .pp_right {
    background: url(images/prettyPhoto/default/sprite.png) -112px -127px no-repeat;
}

div.pp_default .pp_loaderIcon {
    background: url(images/prettyPhoto/default/loader.gif) center center no-repeat;
}

div.light_rounded .pp_top .pp_left {
    background: url(images/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat;
}

div.light_rounded .pp_top .pp_right {
    background: url(images/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat;
}

div.light_rounded .pp_next:hover {
    background: url(images/prettyPhoto/light_rounded/btnNext.png) center right no-repeat;
    cursor: pointer;
}

div.light_rounded .pp_previous:hover {
    background: url(images/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat;
    cursor: pointer;
}

div.light_rounded .pp_expand {
    background: url(images/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat;
    cursor: pointer;
}

div.light_rounded .pp_expand:hover {
    background: url(images/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat;
    cursor: pointer;
}

div.light_rounded .pp_contract {
    background: url(images/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;
    cursor: pointer;
}

div.light_rounded .pp_contract:hover {
    background: url(images/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;
    cursor: pointer;
}

div.light_rounded .pp_close {
    background: url(images/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;
    cursor: pointer;
    height: 22px;
    width: 75px;
}

div.light_rounded .pp_nav .pp_play {
    background: url(images/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat;
    height: 15px;
    width: 14px;
}

div.light_rounded .pp_nav .pp_pause {
    background: url(images/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat;
    height: 15px;
    width: 14px;
}

div.light_rounded .pp_arrow_previous {
    background: url(images/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat;
}

div.light_rounded .pp_arrow_next {
    background: url(images/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat;
}

div.light_rounded .pp_bottom .pp_left {
    background: url(images/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat;
}

div.light_rounded .pp_bottom .pp_right {
    background: url(images/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat;
}

div.dark_rounded .pp_top .pp_left {
    background: url(images/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat;
}

div.dark_rounded .pp_top .pp_right {
    background: url(images/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat;
}

div.dark_rounded .pp_content_container .pp_left {
    background: url(images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y;
}

div.dark_rounded .pp_content_container .pp_right {
    background: url(images/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y;
}

div.dark_rounded .pp_next:hover {
    background: url(images/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat;
    cursor: pointer;
}

div.dark_rounded .pp_previous:hover {
    background: url(images/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat;
    cursor: pointer;
}

div.dark_rounded .pp_expand {
    background: url(images/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat;
    cursor: pointer;
}

div.dark_rounded .pp_expand:hover {
    background: url(images/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat;
    cursor: pointer;
}

div.dark_rounded .pp_contract {
    background: url(images/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat;
    cursor: pointer;
}

div.dark_rounded .pp_contract:hover {
    background: url(images/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat;
    cursor: pointer;
}

div.dark_rounded .pp_close {
    background: url(images/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat;
    cursor: pointer;
    height: 22px;
    width: 75px;
}

div.dark_rounded .pp_description {
    color: #fff;
    margin-right: 85px;
}

div.dark_rounded .pp_nav .pp_play {
    background: url(images/prettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat;
    height: 15px;
    width: 14px;
}

div.dark_rounded .pp_nav .pp_pause {
    background: url(images/prettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat;
    height: 15px;
    width: 14px;
}

div.dark_rounded .pp_arrow_previous {
    background: url(images/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat;
}

div.dark_rounded .pp_arrow_next {
    background: url(images/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat;
}

div.dark_rounded .pp_bottom .pp_left {
    background: url(images/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat;
}

div.dark_rounded .pp_bottom .pp_right {
    background: url(images/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat;
}

div.dark_rounded .pp_loaderIcon {
    background: url(images/prettyPhoto/dark_rounded/loader.gif) center center no-repeat;
}

div.dark_square .pp_left,div.dark_square .pp_middle,div.dark_square .pp_right,div.dark_square .pp_content {
    background: #000;
}

div.dark_square .pp_description {
    color: #fff;
    margin: 0 85px 0 0;
}

div.dark_square .pp_loaderIcon {
    background: url(images/prettyPhoto/dark_square/loader.gif) center center no-repeat;
}

div.dark_square .pp_expand {
    background: url(images/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat;
    cursor: pointer;
}

div.dark_square .pp_expand:hover {
    background: url(images/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat;
    cursor: pointer;
}

div.dark_square .pp_contract {
    background: url(images/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat;
    cursor: pointer;
}

div.dark_square .pp_contract:hover {
    background: url(images/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat;
    cursor: pointer;
}

div.dark_square .pp_close {
    background: url(images/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat;
    cursor: pointer;
    height: 22px;
    width: 75px;
}

div.dark_square .pp_nav {
    clear: none;
}

div.dark_square .pp_nav .pp_play {
    background: url(images/prettyPhoto/dark_square/sprite.png) -1px -100px no-repeat;
    height: 15px;
    width: 14px;
}

div.dark_square .pp_nav .pp_pause {
    background: url(images/prettyPhoto/dark_square/sprite.png) -24px -100px no-repeat;
    height: 15px;
    width: 14px;
}

div.dark_square .pp_arrow_previous {
    background: url(images/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat;
}

div.dark_square .pp_arrow_next {
    background: url(images/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat;
}

div.dark_square .pp_next:hover {
    background: url(images/prettyPhoto/dark_square/btnNext.png) center right no-repeat;
    cursor: pointer;
}

div.dark_square .pp_previous:hover {
    background: url(images/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat;
    cursor: pointer;
}

div.light_square .pp_expand {
    background: url(images/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat;
    cursor: pointer;
}

div.light_square .pp_expand:hover {
    background: url(images/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat;
    cursor: pointer;
}

div.light_square .pp_contract {
    background: url(images/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat;
    cursor: pointer;
}

div.light_square .pp_contract:hover {
    background: url(images/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat;
    cursor: pointer;
}

div.light_square .pp_close {
    background: url(images/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat;
    cursor: pointer;
    height: 22px;
    width: 75px;
}

div.light_square .pp_nav .pp_play {
    background: url(images/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat;
    height: 15px;
    width: 14px;
}

div.light_square .pp_nav .pp_pause {
    background: url(images/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat;
    height: 15px;
    width: 14px;
}

div.light_square .pp_arrow_previous {
    background: url(images/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat;
}

div.light_square .pp_arrow_next {
    background: url(images/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat;
}

div.light_square .pp_next:hover {
    background: url(images/prettyPhoto/light_square/btnNext.png) center right no-repeat;
    cursor: pointer;
}

div.light_square .pp_previous:hover {
    background: url(images/prettyPhoto/light_square/btnPrevious.png) center left no-repeat;
    cursor: pointer;
}

div.facebook .pp_top .pp_left {
    background: url(images/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat;
}

div.facebook .pp_top .pp_middle {
    background: url(images/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x;
}

div.facebook .pp_top .pp_right {
    background: url(images/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat;
}

div.facebook .pp_content_container .pp_left {
    background: url(images/prettyPhoto/facebook/contentPatternLeft.png) top left repeat-y;
}

div.facebook .pp_content_container .pp_right {
    background: url(images/prettyPhoto/facebook/contentPatternRight.png) top right repeat-y;
}

div.facebook .pp_expand {
    background: url(images/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat;
    cursor: pointer;
}

div.facebook .pp_expand:hover {
    background: url(images/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat;
    cursor: pointer;
}

div.facebook .pp_contract {
    background: url(images/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat;
    cursor: pointer;
}

div.facebook .pp_contract:hover {
    background: url(images/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat;
    cursor: pointer;
}

div.facebook .pp_close {
    background: url(images/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat;
    cursor: pointer;
    height: 22px;
    width: 22px;
}

div.facebook .pp_description {
    margin: 0 37px 0 0;
}

div.facebook .pp_loaderIcon {
    background: url(images/prettyPhoto/facebook/loader.gif) center center no-repeat;
}

div.facebook .pp_arrow_previous {
    background: url(images/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat;
    height: 22px;
    margin-top: 0;
    width: 22px;
}

div.facebook .pp_arrow_previous.disabled {
    background-position: 0 -96px;
    cursor: default;
}

div.facebook .pp_arrow_next {
    background: url(images/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat;
    height: 22px;
    margin-top: 0;
    width: 22px;
}

div.facebook .pp_arrow_next.disabled {
    background-position: -32px -96px;
    cursor: default;
}

div.facebook .pp_nav {
    margin-top: 0;
}

div.facebook .pp_nav p {
    font-size: 15px;
    padding: 0 3px 0 4px;
}

div.facebook .pp_nav .pp_play {
    background: url(images/prettyPhoto/facebook/sprite.png) -1px -123px no-repeat;
    height: 22px;
    width: 22px;
}

div.facebook .pp_nav .pp_pause {
    background: url(images/prettyPhoto/facebook/sprite.png) -32px -123px no-repeat;
    height: 22px;
    width: 22px;
}

div.facebook .pp_next:hover {
    background: url(images/prettyPhoto/facebook/btnNext.png) center right no-repeat;
    cursor: pointer;
}

div.facebook .pp_previous:hover {
    background: url(images/prettyPhoto/facebook/btnPrevious.png) center left no-repeat;
    cursor: pointer;
}

div.facebook .pp_bottom .pp_left {
    background: url(images/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat;
}

div.facebook .pp_bottom .pp_middle {
    background: url(images/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x;
}

div.facebook .pp_bottom .pp_right {
    background: url(images/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat;
}

div.pp_pic_holder a:focus {
    outline: none;
}

div.pp_overlay {
    background: #000;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9500;
}

div.pp_pic_holder {
    display: none;
    position: absolute;
    width: 100px;
    z-index: 10000;
}

.pp_content {
    height: 40px;
    min-width: 40px;
}

* html .pp_content {
    width: 40px;
}

.pp_content_container {
    position: relative;
    text-align: left;
    width: 100%;
}

.pp_content_container .pp_left {
    padding-left: 20px;
}

.pp_content_container .pp_right {
    padding-right: 20px;
}

.pp_content_container .pp_details {
    float: left;
    margin: 10px 0 2px;
}

.pp_description {
    display: none;
    margin: 0;
}

.pp_social {
    float: left;
    margin: 0;
}

.pp_social .facebook {
    float: left;
    margin-left: 5px;
    overflow: hidden;
    width: 55px;
}

.pp_social .twitter {
    float: left;
}

.pp_nav {
    clear: right;
    float: left;
    margin: 3px 10px 0 0;
}

.pp_nav p {
    float: left;
    margin: 2px 4px;
    white-space: nowrap;
}

.pp_nav .pp_play,.pp_nav .pp_pause {
    float: left;
    margin-right: 4px;
    text-indent: -10000px;
}

a.pp_arrow_previous,a.pp_arrow_next {
    display: block;
    float: left;
    height: 15px;
    margin-top: 3px;
    overflow: hidden;
    text-indent: -10000px;
    width: 14px;
}

.pp_hoverContainer {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2000;
}

.pp_gallery {
    display: none;
    left: 50%;
    margin-top: -50px;
    position: absolute;
    z-index: 10000;
}

.pp_gallery div {
    float: left;
    overflow: hidden;
    position: relative;
}

.pp_gallery ul {
    float: left;
    height: 35px;
    margin: 0 0 0 5px;
    padding: 0;
    position: relative;
    white-space: nowrap;
}

.pp_gallery ul a {
    border: 1px rgba(0,0,0,0.5) solid;
    display: block;
    float: left;
    height: 33px;
    overflow: hidden;
}

.pp_gallery ul a img {
    border: 0;
}

.pp_gallery li {
    display: block;
    float: left;
    margin: 0 5px 0 0;
    padding: 0;
}

.pp_gallery li.default a {
    background: url(images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;
    display: block;
    height: 33px;
    width: 50px;
}

.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next {
    margin-top: 7px!important;
}

a.pp_next {
    background: url(images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;
    display: block;
    float: right;
    height: 100%;
    text-indent: -10000px;
    width: 49%;
}

a.pp_previous {
    background: url(images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;
    display: block;
    float: left;
    height: 100%;
    text-indent: -10000px;
    width: 49%;
}

a.pp_expand,a.pp_contract {
    cursor: pointer;
    display: none;
    height: 20px;
    position: absolute;
    right: 30px;
    text-indent: -10000px;
    top: 10px;
    width: 20px;
    z-index: 20000;
}

a.pp_close {
    display: block;
    line-height: 22px;
    position: absolute;
    right: 0;
    text-indent: -10000px;
    top: 0;
}

.pp_loaderIcon {
    display: block;
    height: 24px;
    left: 50%;
    margin: -12px 0 0 -12px;
    position: absolute;
    top: 50%;
    width: 24px;
}

#pp_full_res {
    line-height: 1!important;
}

#pp_full_res .pp_inline {
    text-align: left;
}

#pp_full_res .pp_inline p {
    margin: 0 0 15px;
}

div.ppt {
    color: #fff;
    display: none;
    font-size: 17px;
    margin: 0 0 5px 15px;
    z-index: 9999;
}

div.pp_default .pp_content,div.light_rounded .pp_content {
    background-color: #fff;
}

div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res .pp_inline {
    color: #000;
}

div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a {
    border-color: #fff;
}

div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook .pp_details {
    position: relative;
}

div.light_rounded .pp_top .pp_middle,div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right,div.light_rounded .pp_bottom .pp_middle,div.light_square .pp_left,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content,div.facebook .pp_content {
    background: #fff;
}

div.light_rounded .pp_description,div.light_square .pp_description {
    margin-right: 85px;
}

div.light_rounded .pp_gallery a.pp_arrow_previous,div.light_rounded .pp_gallery a.pp_arrow_next,div.dark_rounded .pp_gallery a.pp_arrow_previous,div.dark_rounded .pp_gallery a.pp_arrow_next,div.dark_square .pp_gallery a.pp_arrow_previous,div.dark_square .pp_gallery a.pp_arrow_next,div.light_square .pp_gallery a.pp_arrow_previous,div.light_square .pp_gallery a.pp_arrow_next {
    margin-top: 12px!important;
}

div.light_rounded .pp_arrow_previous.disabled,div.dark_rounded .pp_arrow_previous.disabled,div.dark_square .pp_arrow_previous.disabled,div.light_square .pp_arrow_previous.disabled {
    background-position: 0 -87px;
    cursor: default;
}

div.light_rounded .pp_arrow_next.disabled,div.dark_rounded .pp_arrow_next.disabled,div.dark_square .pp_arrow_next.disabled,div.light_square .pp_arrow_next.disabled {
    background-position: -22px -87px;
    cursor: default;
}

div.light_rounded .pp_loaderIcon,div.light_square .pp_loaderIcon {
    background: url(images/prettyPhoto/light_rounded/loader.gif) center center no-repeat;
}

div.dark_rounded .pp_top .pp_middle,div.dark_rounded .pp_content,div.dark_rounded .pp_bottom .pp_middle {
    background: url(images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat;
}

div.dark_rounded .currentTextHolder,div.dark_square .currentTextHolder {
    color: #c4c4c4;
}

div.dark_rounded #pp_full_res .pp_inline,div.dark_square #pp_full_res .pp_inline {
    color: #fff;
}

.pp_top,.pp_bottom {
    height: 20px;
    position: relative;
}

* html .pp_top,* html .pp_bottom {
    padding: 0 20px;
}

.pp_top .pp_left,.pp_bottom .pp_left {
    height: 20px;
    left: 0;
    position: absolute;
    width: 20px;
}

.pp_top .pp_middle,.pp_bottom .pp_middle {
    height: 20px;
    left: 20px;
    position: absolute;
    right: 20px;
}

* html .pp_top .pp_middle,* html .pp_bottom .pp_middle {
    left: 0;
    position: static;
}

.pp_top .pp_right,.pp_bottom .pp_right {
    height: 20px;
    left: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}

.pp_fade,.pp_gallery li.default a img {
    display: none;
}

/************---------- Header ----------**********/
.header_section{ background:#fff url(images/header_bg.jpg) repeat-x 0 bottom;}
#logo { display: inline-block; float: left;}

/************---------- Footer ----------**********/
#footer-widgets{ background:url(images/footer_tran_bg.png) no-repeat 0 0;}

